.gallery__list {
  padding: 0 20px 0 20px;
}
.gallery__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight:bold ;
  padding: 35px 0 35px;
}
.gallery__description {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0;
  padding: 0 0 35px 0;
  border-bottom: 1px solid #000;

}
.gallery__image {
  display: block;
  width: 100%;
}
.gallery__item {
  padding: 50px 0 50px;
  border-bottom: 1px solid #000;
}
.gallery__content {
  padding: 20px 0 20px 0;
}
.gallery__name {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

}
.gallery__author {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
