.gallery__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 24px 0 10px;
}

.gallery__description {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0;
  padding: 0 25px 26px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.gallery__image {
  display: block;
  width: 100%;
}

.gallery__item {
  padding: 24px 20px 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.gallery__content {
  padding: 15px 0 17px 0;
}

.gallery__name {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.gallery__author {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0;
}

.gallery__button {
  font-weight: bold;
  margin-top: 5px;
  font-size: 14px;
}

.gallery__info {
  margin-bottom: 5px;
}

.gallery__svg {
  margin-right: 12px;
}


@media (min-width: @tablet-width) {
  .gallery {
    padding: 0 60px 0 60px;
  }

  .gallery__title {
    font-size: 30px;
    padding: 76px 0 32px;
    margin: 0;
  }

  .gallery__description {
    border-style: none;
    padding: 0 25px 0 25px;
  }

  .gallery__item {
    padding: 0;
    border-style: none;
    width: 50%;
  }

  .gallery__content {
    padding: 14px 20px 14px 20px;
    display: flex;
    background-color: #f2f2f2;
  }

  .gallery__button {
    margin-left: auto;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    width: 85px;
    text-align: justify;
    margin-top: 13px;
  }

  .gallery__svg {
    vertical-align: top;
    margin: 0 3px 0 21px;
  }

  .gallery__author {
    margin: 0;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 68px;
  }

  .gallery__item--main-photo {
    flex-grow: 1;
    width: 400px;

    & .gallery__image {
      height: 400px;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    padding: 0;
  }

  .gallery__title {
    padding: 111px 0 34px 0;
  }

  .gallery__item {
    position: relative;
    width: 33.33%;

    &--main-photo {
      width: 1200px;
    }
  }

  .gallery__image {
    height: 267px;
  }

  .gallery__content {
    padding: 14px 0 14px 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .gallery__info {
    padding-left: 20px;
  }

  .gallery__name {
    color: #ffffff;
  }

  .gallery__author {
    color: #ffffff;
  }

  .gallery__svg {
    margin: 0 5px 0 24px;
  }

  .gallery__button {
    padding-right: 0;
    margin-right: 20px;
    color: #ffffff;
    width: 90px;

    & svg {
      vertical-align: sub;
      fill: #ffffff;
    }
  }
}
