.greeting {
  text-align: center;
  display: block;
  padding: 25px 0 10px 0;
  position: relative;
}

.greeting__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  padding: 0 26px;
}

.greeting__reasons {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  margin: 28px 0 0 0;
  padding: 0 10px;
}

.greeting__triangle {
  position: absolute;
  bottom: -31px;
  left: 0;
  fill: #ffffff;
}

@media (min-width: @tablet-width) {
  .greeting {
    text-align: center;
    display: block;
    padding: 34px 0 20px 0;
  }

  .greeting__text {
    display: block;
    font-size: 21px;
  }

  .greeting__reasons {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
    margin: 30px 0 0 0;
  }

  .greeting__triangle {
    display: none;
  }
}


@media (min-width: @desktop-width) {
  .greeting {
    padding: 32px 0 30px 0;
  }

  .greeting__text {
    font-size: 21px;
  }
}
