.greeting {
  text-align: center;
  display: block;
  padding: 70px 0 50px 0;
}

.greeting__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.greeting__reasons {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  margin: 60px 0 0 0;
}
