.map {
  position: relative;
}

.map__image {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  height: 350px;
}

.map__marker {
  left: 50%;
  margin-left: -13px;
  top: 50%;
  position: absolute;
 }
