.page-header {
  position: relative;
  height: 56px;
}

.page-header__logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -50px;
}


@media (min-width: @tablet-width) {
  .page-header {
    height: 0;
  }

  .page-header__logo {
    top: -56px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    margin-left: -93px;
  }
}
