.page-footer {
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0 50px 0;
}

.page-footer__hashtag {
  list-style: none;
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.social__list {
  list-style: none;
  text-decoration: none;
}

.copyright__text {
  list-style: none;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
}

.social__item {
  padding: 0 10px 0 10px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .social__list {
    display: flex;
    margin: 0;
  }
}
