.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  display: none;
  background-color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  box-shadow: 0 5px 25px -6px #000000;

  &--show {
    display: block;
  }
}

.popup__info {
  padding: 35px 35px 0;
  text-align: center;
}

.popup__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.popup__text {
  margin: 28px 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.popup__btn {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 33px;

  &--success {
    padding: 20px;
    background-color: #eeeeee;
    margin: 0;
  }
}

.popup__btn-close {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 280px;
  height: 58px;
  padding: 0;
}

.popup__btn-ok {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: 0;
  width: 180px;
  height: 58px;
  padding: 0;
}


@media (min-width: @tablet-width) {
  .popup {
    width: 400px;
    height: 347px;

    &--success {
      width: 640px;
    }
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0 10px;
  }

  .popup__text {
    padding: 0 10px;
    margin: 28px 0 35px 0;
  }

  .popup__info {
    padding: 48px 35px 0;
  }

  .popup__btn {
    margin: 0;

    &--success {
      padding: 45px 0 45px 0;
    }
  }

  .popup__btn-close {
    width: 458px;
  }

  .popup__btn-ok {
    width: 272px;
  }
}
