.presentation {
  text-align: center;
  text-transform: uppercase;
}

.video-image {
  display: block;
  width: 100%;
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.presentation__description {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}


@media (min-width: @tablet-width) {
  .presentation {
    padding: 65px 60px 0 60px;
  }

  .presentation__title {
    font-size: 30px;
    margin: 0 0 35px 0;
  }

  .presentation__description {
    margin: 0 0 80px 0;
  }

}

@media (min-width: @desktop-width) {
  .video-image {
    width: 800px;
    height: 500px;
    margin: auto;
  }
}
