.presentation {
  text-align: center;
  text-transform: uppercase;
}
.video-image {
  display: block;
  width: 100%;
}
.presentation__title {
font-size: 18px;
line-height: 26px;
font-weight: bold;
}
.presentation__description {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
