.reasons__list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.reasons__content {
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0 24px 0;
  background-color: #81b3d2;
  color: #ffffff;

  &--city {
    padding: 55px 0 27px 0;
  }
}

.reasons__item {
  &--image {
    display: flex;
  }

  &--canyon {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 23px;
  }

  &--info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 0;
 }
}

.reasons__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 16px 0 0 0;

  &--addit {
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    margin: 0;
  }
}

.reasons__description {
  font-size: 14px;
  line-height: 21px;
  padding: 0 15px;

  &--addit {
    padding: 0 20px 0 69px;
    font-size: 14px;
    line-height: 21px;
  }
}

.reasons__number {
  font-size: 14px;
  line-height: 21px;
  margin: 9px 0;
}

.reasons__addit {
  text-align: left;

  &--house {
    margin-top: 20px;
  }

  &--souvenirs {
    margin-top: 2px;
  }

  &--food {
    order: 2;
    margin-top: 4px;
  }
}

.reasons__info {
  background-color: #eeeeee;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  margin-top: -5px;
}

.reasons__info li:nth-child(3) {
  border-style: none;
}

.reasons__icon {
  fill: #81b3d2;
  width: 39px;
  height: 37px;
  margin: 0 10px 0 20px;
}


@media (min-width: @tablet-width) {
  .reasons {
    margin-top: 28px;
  }

  .reasons__item {
    &--city {
      display: flex;
    }

    &--canyon {
      display: flex;
      flex-direction: row;
    }

    &--image {
      width: 66.66%;
      flex-shrink: 0;
    }

    &--info {
      border-style: none;
      padding: 0;
      width: 33%;
    }
}

  .reasons__content {
    width: 33.33%;
    text-align: center;
    padding: 35px 0 0 0;
  }

  .reasons__picture {
    display: block;
  }

  .reasons__list {
    flex-direction: row;
  }

  .reasons__title {
    padding: 0 53px 0 53px;
    margin-top: 10px;
    font-size: 21px;

    &--addit {
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
      margin: 0;
      padding: 21px 0 21px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--canyon {
      padding: 0;
    }
  }

  .reasons__number {
    margin-top: 10px;
  }

  .reasons__addit {
    text-align: center;
    width: 33%;
    padding: 0 25px;
    margin-bottom: 10px;

    &--food {
      order: 0;
      margin: 40px 17px 0 0;
      padding: 0 28px 0 28px;
    }

    &--house {
      margin-top: 40px;
      padding: 0 23px;
    }

    &--souvenirs {
      margin: 40px 7px 0 0;
      padding: 0 19px 0 0;
    }
  }

  .reasons__info {
    background-color: #eeeeee;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 34px 0 29px 0;
    display: flex;
    flex-direction: row;
  }

  .reasons__info li:nth-child(2) {
    margin-left: 2px;
  }

  .reasons__info li:nth-child(3) {
    margin-left: 4px;
  }

  .reasons__description {
    padding: 0 43px;
    margin-top: 21px;

    &--addit {
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0 22px 30px 22px;
    }
  }

  .reasons__icon {
    width: 75px;
    height: 72px;
    margin: 0 0 25px 0;
  }
}


@media (min-width: @desktop-width) {
  .reasons {
    margin-top: 18px;
  }

  .reasons__content {
    padding: 41px 0 0 0;
  }

  .reasons__picture {
    display: block;
    height: 256px;
    width: 800px;
    object-fit: cover;
    object-position: center;
  }

  .reasons__item {
    &--info {
      width: 33.33%;
    }
  }

  .reasons__title {
    padding: 0 120px;
    font-size: 21px;
  }

  .reasons__list {
    margin: 59px 0 84px;
  }

  .reasons__info {
    padding: 34px 0 50px 0;
  }

  .reasons__addit {
    padding: 0;
    width: 33.33%;
    margin: 0;
  }

  .reasons__description {
    padding: 22px 50px 0 50px;

    &--city {
      padding: 0 55px;
    }

    &--canyon {
      padding: 0 83px;
    }

    &--info {
      padding: 0 50px;
    }
  }

  .reasons__icon {
    margin: 0 0 26px 0;
  }
}
