.reasons__list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 40px 0 25px 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.reasons__content {
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0 40px 0;
  background-color: #81b3d2;
  color: #ffffff;

  &--city {
    padding: 65px 0 40px 0;
  }
}

.reasons__item--image {
  display: flex;
}

.reasons__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;

  &--addit {
    font-size: 18px;
    padding-left: 20px;
}
}

.reasons__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0 11px;

  &--addit {
    padding: 0 10px 0 63px;
  }
}

.reasons__number {
  font-size: 14px;
  line-height: 21px;
}

.reasons__addit {
  text-align: left;
}

.reasons__info {
  background-color: #eeeeee;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.reasons__item--info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 0;
}

.reasons__info li:nth-child(3) {
  border-style: none;
}

.reasons__icon {
  fill:#81b3d2;
  width: 46px;
  height: 46px;
}


@media (min-width: @tablet-width) {
  .reasons {
    margin-top: 20px;
  }

  .reasons-item__city {
    display: flex;
  }

  .reasons-main__canyon {
    display: flex;
  }

  .reasons__content {
    width: 33%;
    text-align: center;

    &--city {
      padding: 47px 0 40px 0;
    }
  }

  .reasons__item--image {
    width: 67%;
    flex-shrink: 0;
  }

  .reasons__list {
    flex-direction: row;
  }

  .reasons__title--addit {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reasons__addit {
    text-align: center;
    width: 33%;
    padding: 0 35px 0 35px;
  }

  .reasons__info {
    background-color: #eeeeee;
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 50px 15px 50px 15px;
    display: flex;
    flex-direction: row;
  }

  .reasons__item--info {
    border-style: none;
    padding: 0;
    width: 33%;
  }

  .reasons__title {
    padding: 0 53px;
  }

  .reasons__description {
    padding: 0 38px;

    &--addit {
      font-size: 14px;
      line-height: 21px;
      margin: 0;
      padding: 0 12px 30px 12px;
    }
  }
}

.reasons__icon {
  width: 70px;
  height: 72px;
  margin-bottom: 25px;
}


@media (min-width: @desktop-width) {
  .reasons__title {
    padding: 0 80px;
  }
}
