.reviews {
  text-align: center;
}

.reviews-form__group {
  border-style: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 25px 0 25px 0;
}

.reviews-form__list {
  list-style: none;
  text-align: start;
}

.reviews-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.reviews-form__page-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.reviews__description {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
}

.reviews-form__label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.reviews-form__input {
  font-weight: bold;
}

.reviews-form__label-checkbox {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.reviews-form__label-radio {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.reviews-form__group--textarea {
  border-style: none;
}

.reviews-form__item {
  padding: 15px 0 15px 0;
}

.reviews-form__button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 280px;
  height: 58px;
  padding: 0;
  margin-top: 24px;
}


@media (min-width: @tablet-width) {

 .reviews {
   padding: 65px 60px 65px 60px;
 }

 .reviews-form__page-title {
   font-size: 30px;
   line-height: 26px;
   font-weight: bold;
   text-transform: uppercase;
   margin: 0 0 45px 0;
 }

 .reviews__description {
   border-style: none;
   margin: 0 0 85px 0;
 }

 .reviews__form {
   display: flex;
   flex-direction: column;
 }

 .reviews-form__title {
   font-size: 21px;
 }

 .reviews-form__group {
   margin: 0;
   padding: 0;
 }

 .reviews-form__group--impression {
   order: -1;
 }

 .reviews-form__list {
   margin: 0;
   padding: 0;
 }
}
