@media (max-width: @mobile-width-only) {
  .reviews-form__group {
    border-style: none;
  }
}

.reviews__form {
  position: relative;
}

.reviews {
  text-align: center;
}

.reviews-form__required {
  display: none;
}

.reviews-form__group {
  margin: 25px 0 25px 0;
  padding: 0 20px;
  border-bottom: 1px solid #e5e5e5;
}

.reviews-form__list {
  list-style: none;
  text-align: start;
  padding: 0;
}

.reviews-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.reviews-form__page-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0 30px 0;
}

.reviews__description {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 30px 0;
}

.reviews-form__label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.reviews-form__input {
  font-weight: bold;
  border: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: transparent;
    border: 4px solid rgba(0, 0, 0, 0.5);
  }
}

.reviews-form__label-checkbox {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  position: relative;
  margin-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -60px;
    width: 46px;
    height: 46px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }
}

.reviews-form__input-checkbox:checked + .reviews-form__label-checkbox::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -60px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.reviews-form__input-checkbox:checked + .reviews-form__label-checkbox:hover::before {
  background-color: #e5e5e5;
}

.reviews-form__input-checkbox:checked + .reviews-form__label-checkbox:active::before {
  opacity: 0.4;
  background-color: #a1a1a1;
}

.reviews-form__label-radio {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  position: relative;
  margin-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -60px;
    width: 46px;
    height: 46px;
    background-color: #f2f2f2;
    border-radius: 50%;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }
}

.reviews-form__input-radio:checked + .reviews-form__label-radio::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -60px;
  width: 20px;
  height: 20px;
  border: 13px solid #f2f2f2;
  background-color: #000000;
}

.reviews-form__input-radio:checked + .reviews-form__label-radio:hover::before {
  border: 13px solid #e5e5e5;
}

.reviews-form__input-radio:checked + .reviews-form__label-radio:active::before {
  border: 13px solid #d5d5d5;
  background-color: rgba(0, 0, 0, 0.3);
}

.reviews-form__item {
  padding: 17px 0 17px 0;

  &--info {
    display: flex;
    align-items: center;

    & input {
      border: 4px solid transparent;
      background-color: #f2f2f2;
      padding: 16px;
      width: 100%;
      margin-left: 10px;
    }
  }
}

.reviews-form__item--contacts {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  & label {
    margin-left: 21px;
  }

  & input {
    border: 4px solid transparent;
    background-color: #f2f2f2;
    padding: 17px;
    width: 100%;
    margin-left: 10px;
  }
}

.reviews-form__icon {
  width: 55px;
  display: flex;
  height: 55px;
  background-color: #e6e6e6;
  position: absolute;
  right: 0;
  top: 38px;
  justify-content: center;
}

.reviews-form__button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  width: 280px;
  height: 58px;
  padding: 0;
}

.reviews-form__textarea {
  min-height: 160px;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  font-family: inherit;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  padding: 16px;
}


@media (min-width: @tablet-width) {
  .reviews {
    padding: 65px 60px 65px 60px;
  }

  .reviews-form__page-title {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 45px 0;
  }

  .reviews__description {
    border-style: none;
    margin: 0 0 45px 0;
  }

  .reviews__form {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews-form__item--contacts label {
    margin: -5px 0 0 21px;
  }

  .reviews-form__title {
    font-size: 21px;
    padding: 0 55px;
  }

  .reviews-form__group {
    margin: 0;
    padding: 0;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-color: #e5e5e5;

    &--impression {
      order: -1;
      width: 50%;
      text-align: start;
      border-style: none;
    }

    &--info {
      border-style: none;
      width: 50%;
    }
  }

  .reviews-form__title--impression {
    padding: 0 0 16px 0;
  }

  .reviews-form__title--info {
    padding-bottom: 47px;
  }

  .reviews-form__textarea {
    width: 648px;
    height: 160px;
  }

  .reviews-form__list {
    margin: 0;
    padding: 0;

    &--info {
      padding: 0 0 0 83px;
    }

    &--contacts {
      margin-top: 15px;
    }
  }

  .reviews-form__list--impression {
    & .reviews-form__item {
      padding: 62px 0 0 0;
    }
  }

  .reviews-form__group--contacts {
    margin-top: 75px;
    width: 100%;
  }

  .reviews-form__group--landmarks {
    margin-top: 35px;
    width: 100%;
  }

  .reviews-form__title--landmarks {
    margin-bottom: 35px;
  }

  .reviews-form__list--landmarks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 110px;
  }

  .reviews-form__item--landmarks {
    width: 50%;
    padding: 25px 0;
  }

  .reviews-form__group--textarea {
    margin-top: 45px;
  }

  .reviews-form__title--textarea {
    margin-bottom: 60px;
  }

  .reviews-form__required {
    text-transform: uppercase;
    margin-left: auto;
    display: block;
    margin-top: 80px;
  }

  .reviews-form__item--contacts {
    & .reviews-form__input {
      width: 100%;
    }
  }

  .reviews-form__button {
    margin-top: 58px;
    width: 324px;
  }
}


@media (min-width: @desktop-width) {
  .reviews {
    padding: 65px 120px 65px 120px;
  }

  .reviews__description {
    padding: 0;
    margin: 0 0 15px 0;
  }

  .reviews-form__required {
    display: block;
  }

  .reviews-form__button {
    width: 50%;
  }

  .reviews-form__textarea {
    width: 960px;
  }

  .reviews-form__item {
    display: flex;

    &--landmarks {
      width: 19%;
    }
  }

  .reviews-form__list--info {
    padding: 0 0 0 160px;
  }

  .reviews-form__title--landmarks {
    width: 270px;
  }

  .reviews-form__list {
    &--landmarks {
      padding: 0;
      justify-content: space-between;
    }

    &--contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 55px;
    }
  }

  .reviews-form__title {
    &--impression {
      margin-left: 59px;
    }
  }

  .reviews-form__item--contacts {
    align-items: center;

    & label {
      margin: 0;
    }

    & .reviews-form__input {
      width: 248px;
    }
  }

  .reviews-form__group {
    margin-top: 50px;
  }


  .reviews-form__icon {
    width: 55px;
    height: 55px;
    top: 17px;
  }

  .contact {
    display: none;
  }
}
