.blue-button {
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}


@media (min-width: @desktop-width) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
